<!DOCTYPE html>
<html>
<head>
    <title>InfraSight</title>
</head>
<body>
    <h1>InfraSight Dashboard</h1>

    <h2>EC2 Instances</h2>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Instance ID</th>
            <th>Type</th>
            <th>State</th>
            <th>Private IP</th>
            <th>Public IP</th>
        </tr>

        {% for instance in instances %}
        <tr>
            <td>{{ instance.name }}</td>
            <td>{{ instance.instance_id }}</td>
            <td>{{ instance.instance_type }}</td>
            <td>{{ instance.state }}</td>
            <td>{{ instance.private_ip }}</td>
            <td>{{ instance.public_ip }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
